.Card h2{
      margin-top: 0;
}

.Card img {
      float: none;
      border-radius: 50%;
}

@media (min-width: 600px) {
      .Card img{
            float: left;
      }
}

.Close {
      float: right;
      height: 20px;
}

.Text {
      margin: 0;
      float: none;
      text-align: left;
}

.Text div, h2 {
      overflow-wrap: break-word;
}

@media (min-width: 600px) {
      .Text {
            margin: 0 40px 0 0;
            float: right;
            text-align: left;
      }
}

h2 {
      text-align: center;
      color: gray;
}

@media (min-width: 600px) {
      h2 {
            text-align: left;
      }
}

.Img {
      float: none;
      margin: 5px;
}

@media (min-width: 600px) {
      .Img {
            margin: 20px 0 0 40px;
            width: 20%;
            float: left;
      }
}